<header class="site-header h-card">
  <a class="site-header-avatar-link" title="{{ site.title }}" href="{{ '/' | relative_url }}">
    <img alt="{{ site.title }}" class="avatar u-photo" aria-hidden="true" src="{{ '/assets/images/site/avatar.png' | relative_url }}" width="72" height="72" />
  </a>
  <div>
    <div class="site-title m-0"><a class="p-name u-url" href="{{ '/' | relative_url }}">{{ site.title }}</a></div>
    <nav class="site-nav">
      <ul>
        {% assign nav_items = site.nav | sort: "nav_order" %}
        {% for item in nav_items %}
          <li><a class="site-nav-link" href="{{ item.link }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>

<hr class="site-hr-below-site-header mt-L">
