---
layout: default
---
<article class="site-post h-entry zoomable">
  <header class="site-post-header">
    <h1 class="p-name">{{ page.title }}</h1>
  </header>

  <div class="trix-content e-content">
    {{ content }}
  </div>

  <footer class="site-meta">
    <div class="published-at">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" title="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%Y %B %-d" }}
      </time>
    </div>

    <div class="mt-3XS link-subscribe-to-feed">
      <a target="_blank" href="{{ '/feed.xml' | relative_url }}">Subscribe via RSS</a>
    </div>

    <div class="mt-3XS site-link-back-to-blog-posts">
      <a href="{{ '/' | relative_url }}">Back to all posts</a>
    </div>
  </footer>
</article>
